<%= javascript_include_tag('packs/add_remove_users.js') %>
<h3> Creator Id:  <%= current_user.id %> </h3>
<%= form_with model: @project do |f| %>
    <div>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
      <% @project.errors.full_messages_for(:name).each do |message| %>
          <div><%= message %></div>
        <% end %>
    </div>

   


<div>
        <%= f.label :completion_date, "Completion Date:" %>
<% if @project.date.present? %>
  <%= f.datetime_field :date, value: @project.date.strftime('%Y-%m-%dT%H:%M:%S') %>
<% else %>
  <%= f.datetime_field :date %>
  <% @project.errors.full_messages_for(:date).each do |message| %>
    <div><%= message %></div>
<% end %>
<% end %>
</div>
    
<div>
  <%= f.label :status %>
  <%= f.select :status, Project.statuses.keys.map { |status| [status.humanize, status] } %>
  <% @project.errors.full_messages_for(:project).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>


<style>
.hidden-field {
  visibility: hidden;
}
</style>

 
<%= f.number_field :creator, :value => current_user.id, :readonly => true, class: "hidden-field"%>
<% @project.errors.full_messages_for(:creator).each do |message| %>
<div><%= message %></div>
<% end %>


<!-- Nested attributes for memberships -->
<%= f.fields_for :memberships do |membership_fields| %>
  <%= render 'membership_fields', f: membership_fields %>
<% end %>

<!-- Button to add more users -->
<%= link_to 'Add User', '#', class: 'add-user-btn', data: { role: 'add-user-btn' } %>

    <div>
      <%= f.submit %>
    </div>
  <% end %>
