<%= link_to 'Home', root_path %>
<br>
<br>
<%= form_tag "/projects", method: "GET" do %>
  <%= label_tag :name %>
  <%= text_field_tag :search_by_projectname , params[:search_by_projectname ] %>
  <%= submit_tag "Search" %>
  <% end %>
<br>
<table  style = "border:2px solid black">
<tr>
    <th  style = "border:1px solid black">Project Name</th>
    <th  style = "border:1px solid black">Edit</th>
    <th  style = "border:1px solid black">Delete</th>
  </tr>
  <% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project %></td>
    <td style = "border:1px solid black"><%= link_to "Edit", edit_project_path(project) %></td>
    <td  style = "border:1px solid black"><%= link_to "Destroy", project_path(project), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %></td>
  </tr>
  <% end %>
  </table>


<br>
<%= link_to "New Project", new_project_path %>